.payeeMargin {
  margin-top: 2rem;
}
.scroll {
  max-height: 200px;
  overflow-y: scroll;
}

.error {
  margin-top: 2rem;
}

$payee-margin: 2rem;

:export {
  margin-top: 2rem;
}

$primary-color: #64ff00;

:export {
  primaryColor: $primary-color;
}
